# Dependencies
node_modules/

# Environment & Secrets
.env
.env.local
.env.*.local

# Build output
dist/
build/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.dbD

Lab_02_labsheet.pdf
